# pixi environments
.pixi/*
!.pixi/config.toml

# local machine metadata
.DS_Store

# local Codex context
AGENTS.md
docs/
.codex/
.agents/

data/*
!data/.gitkeep

inference/*
!inference/.gitkeep

pixis/*
