# pixi environments
.pixi/*
!.pixi/config.toml

# local machine metadata
.DS_Store
__pycache__/
*.pyc

# local Codex context
.codex/
.agents/

data/*
!data/.gitkeep

inference/*
!inference/.gitkeep

pixis/*

AGENTS.md

tmp/*

logs/*

outputs/**
!outputs/**/
!outputs/**/*.csv